.link{
    /* border: 1px solid gray; */
    outline: 1px solid gray;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(84, 84, 136);


}
.link:hover{
    color: #fff;
    background: gray;
}
.back{
    list-style-type: none;
    color: gray;
}